.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: #7dd3fc;
  height: 10vh;
}

.right-header {
  display: flex;
  gap: 0.3rem;
}

.search {
  padding: 0.2rem;
  width: 250px;
  border-radius: 0.3rem;
  outline: none;
  caret-color: #7dd3fc;
  font-weight: 600;
}

.navlink {
  text-decoration: none;
  color: black;
  font-weight: 550;
}
