.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: #7dd3fc;
  height: 10vh;
}

.right-header {
  display: flex;
  gap: 0.3rem;
}

.search {
  padding: 0.2rem;
  width: 250px;
  border-radius: 0.3rem;
  outline: none;
  caret-color: #7dd3fc;
  font-weight: 600;
}

.navlink {
  text-decoration: none;
  color: black;
  font-weight: 550;
}

/* //search suggestion component */
.suggestionContainer {
  position: relative;
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.suggestionComp {
  padding: 0.4rem;
  border: 1px solid #9ca3af;
  background-color: #7dd3fc;
  z-index: 1;
  /* position: absolute; */
  top: 0;
}
